@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

:root {
    --color-default-text: #101010;
    
    --color-primary: #9356DC; 
    --color-secondary: #FF79DA; 
    --color-ter: #99E2D0;
    --color-highlight: #f5edff;

    --color-light-gray: #f7f7f7;
    --color-dark-gray: #353535;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 
*, *::before, *::after {
    box-sizing: inherit;	
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-default-text);
    margin: 0 auto;
    /* max-width: 768px; */
    min-height: 100vh;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color-default-text);
}

h1, h2, h3 {
    margin: 0;
}

h1, h2 {
    font-size: 24px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;    
}

/*==============================
    FOOTER    
==============================*/

footer {
    background-color: var(--color-dark-gray);
    min-height: 197px;
    padding: 22px 24px;
}

footer a {
    color: white;
}

footer ul {
    margin-top: 16px;
    font-size: 16px;
}

footer li {
    margin-bottom: 10px;
}

footer i {
    font-size: 12px;
    margin-right: 8px;
}