@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #101010;
  margin: 0 auto;
  min-height: 100vh;
  font-size: 18px;
  max-width: 1400px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 28.0008px;
}

h3 {
  font-size: 18px;
  line-height: 21.0006px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #101010;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: grid;
  place-items: center;
  box-shadow: 0 4px 10px 0 rgb(0 0 0/20%);
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  font-size: 16px;
  color: white;
  min-height: 50px;
  padding: calc(-1vw + 16px) 22.5px;
  border-radius: 40px;
  transition: filter 400ms, box-shadow 400ms;
}
.button:hover {
  filter: brightness(1.05);
  box-shadow: 0 4px 10px 0 rgb(0 0 0/40%);
}

main {
  opacity: 0;
  animation: main__animate-visiblity 600ms 3200ms forwards;
}
@keyframes main__animate-visiblity {
  100% {
    opacity: 1;
  }
}

.loader {
  display: grid;
  place-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f7f7f7;
  z-index: 10;
  overflow: hidden;
  animation: loader__fade-out 600ms 3000ms forwards;
}
@keyframes loader__fade-out {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__container {
  display: flex;
  margin-top: -140px;
}
.loader__container p {
  color: #FF79DA;
}
.loader__container p:nth-child(1) {
  animation: bouncing 500ms 0ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(2) {
  animation: bouncing 500ms 100ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(3) {
  animation: bouncing 500ms 200ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(4) {
  animation: bouncing 500ms 300ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(5) {
  animation: bouncing 500ms 400ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(6) {
  animation: bouncing 500ms 500ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(7) {
  animation: bouncing 500ms 600ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader__container p:nth-child(8) {
  animation: bouncing 500ms 700ms alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

@keyframes bouncing {
  0% {
    transform: translate(0, 70px) scale(1.2, 0.834);
    text-shadow: 0 0 0 rgb(0, 0, 0);
  }
  100% {
    transform: translate(0, 0) scale(0.834, 1.2);
    color: #99E2D0;
    text-shadow: 0 52px 0 rgba(0, 0, 0, 0.5), 0 -3px 0 #9356DC;
  }
}
@keyframes slide-in-horizontal {
  0% {
    transform: translateX(-100px) scale(0);
  }
}
@keyframes slide-in-vertical {
  0% {
    transform: translateY(-30px) scale(0);
  }
}
@media screen and (min-width: 0) {
  section {
    padding-inline: 20px;
  }
  .header {
    font-size: 30px;
  }
  /*==============================
      HEADER
  ==============================*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.167em;
  }
  .header__logo {
    padding-block: 0.3em 0.2em;
    font-size: 1em;
  }
  .header__location {
    display: grid;
    place-items: center;
    background-color: #eaeaea;
    font-size: 17px;
    color: #353535;
    font-weight: bold;
    padding-block: 15px;
    position: relative;
    width: 100%;
  }
  .header__location i {
    margin-right: 10px;
  }
  .header__location::before {
    content: "";
    height: 4px;
    background-image: linear-gradient(to bottom, #cecece 0%, transparent 100%);
    position: absolute;
    width: 100%;
    top: 0;
  }
  /*==============================
      MAIN
      |_ PICKUP LINES SECTION
  ==============================*/
  .pickup-lines {
    display: grid;
    place-items: center;
    background-color: #f7f7f7;
    padding-block: 38px 58px;
    text-align: center;
  }
  .pickup-lines__title {
    padding-inline: 45px;
  }
  .pickup-lines__subtitle {
    margin-block: 14px 28px;
  }
  /*==============================
      MAIN
      |_ OPERATION SECTION
  ==============================*/
  .operation {
    padding-block: 48px;
  }
  .operation__title {
    margin-bottom: 32px;
  }
  .operation__container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 28px;
    counter-reset: index;
  }
  .operation__step {
    box-shadow: 0 4px 10px 0 rgb(0 0 0/20%);
    position: relative;
    background-color: #f7f7f7;
    counter-increment: index;
    padding-block: 25px;
    border-radius: 18px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .operation__step p {
    margin-left: 35px;
  }
  .operation__step i {
    font-size: 20px;
    padding-right: 15px;
    color: #7e7e7e;
    vertical-align: bottom;
  }
  .operation__step::before {
    display: grid;
    place-items: center;
    content: counter(index);
    width: 24px;
    height: 24px;
    font-size: 13.92px;
    background-color: #9356DC;
    border-radius: 50%;
    position: absolute;
    left: -10.8px;
    color: white;
    animation: slide-in-horizontal 400ms both;
  }
  .operation__step:last-child {
    background-color: #f5edff;
  }
  .operation__step:last-child i {
    color: #9356DC;
  }
  .operation__step:nth-child(1)::before {
    animation-delay: 200ms;
  }
  .operation__step:nth-child(2)::before {
    animation-delay: 400ms;
  }
  .operation__step:nth-child(3)::before {
    animation-delay: 600ms;
  }
  /*==============================
      MAIN
      |_ RESTAURANT LIST SECTION
  ==============================*/
  .restaurants {
    background-color: #f7f7f7;
    margin-top: 20px;
    padding-block: 54px 63px;
  }
  .restaurants__title {
    margin-bottom: 20px;
  }
  .restaurants__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 17px;
  }
  .restaurant-card {
    background: white;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    box-shadow: 0 4px 10px 0 rgb(0 0 0/20%);
  }
  .restaurant-card:nth-child(-n+2)::before {
    content: "Nouveau";
    color: #008766;
    background-color: #99E2D0;
    position: absolute;
    top: 14px;
    right: 10px;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
  }
  .restaurant-card__thumbnail {
    width: 100%;
    height: 172px;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 60%;
  }
  .restaurant-card__footer {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px 16px 12px;
  }
  .restaurant-card__footer__name {
    margin-bottom: 2px;
  }
  .restaurant-card__footer__location {
    font-size: 17px;
  }
  .restaurant-card__footer__favorite i {
    font-size: 24px;
    margin-top: 5px;
    position: relative;
  }
  .restaurant-card__footer__favorite i::after {
    content: "\f004";
    font-weight: 900;
    position: absolute;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .restaurant-card__footer__favorite i:hover {
    cursor: pointer;
  }
  .restaurant-card__footer__favorite i:hover::after {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  .footer {
    background-color: #353535;
    font-size: 18px;
    padding: 20px 24px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding-inline: 30px;
  }
  .header {
    font-size: 33px;
    padding-inline: 30px;
    margin-block: 15px;
  }
  /*==============================
      HEADER
  ==============================*/
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .header__location {
    padding-inline: 0;
    background: none;
    width: fit-content;
  }
  .header__location::before {
    content: none;
  }
  /*==============================
      MAIN
      |_ PICKUP LINES SECTION
  ==============================*/
  .pickup-lines {
    display: grid;
    place-items: center;
    background-color: #f7f7f7;
    padding-block: 60px;
    text-align: center;
  }
  .pickup-lines__title {
    font-size: 34px;
  }
  .pickup-lines__subtitle {
    margin-block: 21px 38px;
  }
  .pickup-lines .button {
    min-height: 52px;
  }
  /*==============================
      MAIN
      |_ OPERATION SECTION
  ==============================*/
  .operation {
    padding-block: 48px 64px;
  }
  .operation__title {
    margin-bottom: 48px;
  }
  .operation__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }
  .operation__step {
    flex-basis: 31%;
    justify-content: center;
    padding-block: 42px;
    border-radius: 18px;
    margin-left: 0;
    display: flex;
    align-items: center;
  }
  .operation__step p {
    margin-left: 0;
  }
  .operation__step i {
    font-size: 22px;
    padding-right: 5px;
  }
  .operation__step::before {
    width: 36px;
    height: 36px;
    font-size: 18px;
    left: calc(50% - 18px);
    top: -18px;
    animation-name: slide-in-vertical;
  }
  /*==============================
      MAIN
      |_ RESTAURANT LIST SECTION
  ==============================*/
  .restaurants__title {
    margin-bottom: 28px;
  }
  .restaurants__container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .restaurant-card__footer {
    padding: 16px 24px;
  }
  .restaurant-card__footer__favorite i {
    font-size: 26px;
    margin-top: 4px;
    position: relative;
  }
  .restaurant-card__footer__favorite i::after {
    content: "\f004";
    font-weight: 900;
    position: absolute;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .restaurant-card__footer__favorite i:hover {
    cursor: pointer;
  }
  .restaurant-card__footer__favorite i:hover::after {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  .footer {
    background-color: #353535;
    font-size: 20px;
    padding: 30px 36px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding-inline: 40px;
  }
  .header {
    font-size: 36px;
    padding-inline: 40px;
    margin-block: 20px;
  }
  /*==============================
      MAIN
      |_ PICKUP LINES SECTION
  ==============================*/
  .pickup-lines__title {
    font-size: 38px;
  }
  .pickup-lines__subtitle {
    margin-block: 28px 48px;
  }
  .pickup-lines .button {
    min-height: 54px;
  }
  /*==============================
      MAIN
      |_ OPERATION SECTION
  ==============================*/
  .operation {
    padding-block: 64px 80px;
  }
  .operation__title {
    margin-bottom: 32px;
  }
  .operation__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .operation__step {
    overflow: hidden;
  }
  .operation__step p {
    margin-left: 56px;
  }
  .operation__step i {
    font-size: 24px;
  }
  .operation__step::before {
    height: 150%;
    font-size: 32px;
    left: -32px;
    top: inherit;
    padding-inline: min(20%, 64px) min(13%, 64px);
    animation-name: slide-in-horizontal;
  }
  /*==============================
      MAIN
      |_ RESTAURANT LIST SECTION
  ==============================*/
  .restaurants__title {
    margin-bottom: 36px;
  }
  .restaurants__container {
    gap: 32px;
  }
  .restaurant-card__thumbnail {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
  }
  .restaurant-card__footer {
    padding: 16px 24px;
  }
  .restaurant-card__footer__favorite i {
    font-size: 28px;
    margin-top: 3px;
    position: relative;
  }
  .restaurant-card__footer__favorite i::after {
    content: "\f004";
    font-weight: 900;
    position: absolute;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .restaurant-card__footer__favorite i:hover {
    cursor: pointer;
  }
  .restaurant-card__footer__favorite i:hover::after {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  .footer {
    background-color: #353535;
    font-size: 22px;
    padding: 40px 48px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
