@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #101010;
  margin: 0 auto;
  min-height: 100vh;
  font-size: 18px;
  max-width: 1400px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 28.0008px;
}

h3 {
  font-size: 18px;
  line-height: 21.0006px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #101010;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: grid;
  place-items: center;
  box-shadow: 0 4px 10px 0 rgb(0 0 0/20%);
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  font-size: 16px;
  color: white;
  min-height: 50px;
  padding: calc(-1vw + 16px) 22.5px;
  border-radius: 40px;
  transition: filter 400ms, box-shadow 400ms;
}
.button:hover {
  filter: brightness(1.05);
  box-shadow: 0 4px 10px 0 rgb(0 0 0/40%);
}

@media screen and (min-width: 0) {
  section {
    padding-inline: 20px;
  }
  .header {
    font-size: 30px;
  }
  /*==============================
      HEADER
  ==============================*/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.167em;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .header__logo {
    padding-block: 0.3em 0.2em;
    font-size: 1em;
  }
  .header__home-link {
    padding: 10px 15px;
    font-size: 21px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(8px, -50%);
  }
  /*==============================
      MAIN MENU
  ==============================*/
  .menu__photo {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
    position: relative;
    z-index: -1;
  }
  .menu__container {
    background: #f7f7f7;
    padding-top: 38px;
    margin-top: -36px;
    border-radius: 40px 40px 0 0;
    padding-inline: 14px;
  }
  .menu__order {
    display: grid;
    place-items: center;
    padding-block: 36px 40px;
    background: #f7f7f7;
  }
  .menu__order .button {
    padding-inline: 50px;
  }
  .menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__header__title {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
    font-size: 28px;
  }
  .menu__header__favorite i {
    font-size: 26px;
    margin-top: -2px;
    position: relative;
  }
  .menu__header__favorite i::after {
    content: "\f004";
    font-weight: 900;
    position: absolute;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .menu__header__favorite i:hover {
    cursor: pointer;
  }
  .menu__header__favorite i:hover::after {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  .menu__dish-list {
    margin-top: 36px;
    display: grid;
    gap: 40px;
  }
  .dish__container {
    padding-inline: 0;
  }
  .dish__container__title {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
  }
  .dish__container__title::after {
    content: "";
    width: 40px;
    height: 3px;
    background: #99E2D0;
    position: absolute;
    left: 0;
    bottom: -5px;
  }
  .dish__container__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 16px;
  }
  .dish {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: calc(100% - 60px) 60px 60px;
    transition: grid-template-columns 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgb(0 0 0/20%);
    opacity: 0;
    animation: dish-fade-in 800ms cubic-bezier(0, 0.5, 0.5, 1) forwards;
  }
  .dish__description {
    padding: 12px 0 12px 10px;
    flex: 1;
    overflow: hidden;
  }
  .dish__description__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .dish__description__subtitle {
    font-size: 15px;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .dish__price {
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    padding: 11px 10px;
    font-weight: 900;
  }
  .dish__validation {
    display: grid;
    place-items: center;
    background: #99E2D0;
    color: white;
    font-size: 21px;
    border-left: 2px solid #85dcc7;
  }
  .dish:hover {
    grid-template-columns: calc(100% - 120px) 60px 60px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0/30%);
  }
  .dish:hover i {
    animation: rotate 500ms 50ms ease-out both;
  }
  .footer {
    background-color: #353535;
    font-size: 18px;
    padding: 20px 24px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  section {
    padding-inline: 30px;
  }
  .header {
    font-size: 33px;
    padding-inline: 30px;
    margin-block: 15px;
  }
  .menu__photo {
    max-height: 500px;
  }
  .menu__container {
    padding-inline: 30px;
  }
  .menu__dish-list {
    grid-template-columns: repeat(auto-fill, 32%);
    justify-content: space-between;
    gap: unset;
  }
  .footer {
    background-color: #353535;
    font-size: 20px;
    padding: 30px 36px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding-inline: 40px;
  }
  .header {
    font-size: 36px;
    padding-inline: 40px;
    margin-block: 20px;
  }
  .menu__photo {
    max-height: 500px;
  }
  .menu__container {
    padding-inline: 40px;
  }
  .menu__dish-list {
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: space-between;
  }
  .footer {
    background-color: #353535;
    font-size: 22px;
    padding: 40px 48px;
  }
  .footer a {
    color: white;
    font-size: 0.9em;
  }
  .footer ul {
    margin-top: 0.7em;
  }
  .footer li {
    margin-bottom: 0.25em;
  }
  .footer i {
    width: 0.85em;
    font-size: 0.8em;
    margin-right: 1em;
  }
  .footer .footer__logo {
    font-family: "Shrikhand", cursive;
    font-size: 1em;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes dish-fade-in {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-delay--0 {
  animation-delay: 0ms;
}

.fade-in-delay--1 {
  animation-delay: 200ms;
}

.fade-in-delay--2 {
  animation-delay: 400ms;
}

.fade-in-delay--3 {
  animation-delay: 600ms;
}

.fade-in-delay--4 {
  animation-delay: 800ms;
}

.fade-in-delay--5 {
  animation-delay: 1000ms;
}

.fade-in-delay--6 {
  animation-delay: 1200ms;
}

.fade-in-delay--7 {
  animation-delay: 1400ms;
}

.fade-in-delay--8 {
  animation-delay: 1600ms;
}

.fade-in-delay--9 {
  animation-delay: 1800ms;
}
