* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    background: var(--color-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.card__photo {
    max-width: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.card__name {
    font-size: 4rem;
    font-weight: normal;
    color: var(--color-secondary);
}

.card__location {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-bottom: 20px;
    margin-left: 4px;
}

.card__tagline {
    font-size: 1.25rem;
    color: var(--color-text-default);
    margin-left: 4px;
}

.card__contact {
    font-family: "DM Sans", sans-serif;
    background: var(--color-primary);
    color: white;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    height: 4.375rem;
}

.card__contact:hover {
    background: var(--color-secondary);
    color: black;
}

.card-fallback {
    background: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.fallback__title {
    font-size: 6rem;
}

.fallback__message {
    font-size: 1.5rem;
}

.card-next {
    position: fixed;
    bottom: 0;
    left: 62%;
    background: var(--color-secondary--light);
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1.5rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    width: 23.5rem;
}

.card__likes {
    display: flex;
    align-items: center;
}

.card__likes__heart-icon {
    vertical-align: baseline;
    height: 1.375rem;
    margin-left: 0.3125rem;
}

