<div class="container">
    <div class="modal">
        <img class="controller__left-arrow" id="previous-btn" src="./assets/icons/arrow.svg" alt="left">
        <section class="photo">
            <img id="target-image" class="photo__preview" src="{target}" alt="{title}" hidden>
            <video id="target-video" class="photo__preview" src="{target}" controls hidden></video>
            <p class="photo__title" id="photo-title">{title}</p>
        </section>
        <img class="controller__right-arrow" id="next-btn" src="./assets/icons/arrow.svg" alt="right">
        <img class="close-icon" id="closeBtn" src="./assets/icons/close-red.svg" alt="Bouton Fermer modale">
    </div>
</div>