// UI COLORS

$color__text-default: #101010;
    
$color__purple: #9356DC; 
$color__purple-light: #FF79DA; 
$color__purple-lighter: #f5edff;

$color__featured: #99E2D0;

$color__gray-light: #f7f7f7;
$color__gray-medium: #eaeaea;
$color__gray-dark: #7e7e7e;
$color__gray-darker: #353535;


// TEXT
$font-family__brand: "Shrikhand", cursive;
$font-family__text: "Roboto", sans-serif;

$font-size__base: 18px;
$font-size__base--small: $font-size__base - 1px;
$font-size__base--smaller: $font-size__base - 2px;

$font-size__title: 24px;
