body {
    padding-inline: 1rem;
    letter-spacing: 0;
}

main {
    margin-top: 0;
}

h1, h2 {
    letter-spacing: 0;
}

/*==============================
    HEADER
==============================*/

header {
    align-items: center;
    flex-direction: column;
}

.logo img {
    margin-top: 1.3rem;
    width: 4rem;
}

header nav {
    width: 100%;
    flex-basis: 0;
    margin-top: 1.6rem;
}

header ul {
    gap: 0;
}

header li {
    padding-block: 1.4rem;
}

Header nav a:hover::before {
    bottom: 0;
    top: unset;
    border-top: 0.188rem solid var(--color-blue);
}

/*==============================
    SEARCH SECTION
==============================*/

.search-section {
    padding: 2.1rem 0 1.1rem;    
}

.search-form {
    width: 100%;
    margin-top: 2.3rem;
}

.search-form label {
    width: 3.25rem;
}

.search-form button  {
    width: 3.25rem;
}

.search-form input[type=search] {
    width: calc(100% - 6.5rem);
}

.search-form button span {
    display: none;
}

.search-form button i {
    display: block;
}
/*==============================
    SEARCH SECTION: 
    |__FILTERS
==============================*/

.filters {
    display: block;
    margin-top: 2.1rem;
}

.filter-list {
    margin-top: 1rem;
    gap: 1.5rem min(5%, 2rem);
    flex-wrap: wrap;
}

.filter-list a  {
    padding: 0.75rem 0.5rem;   
    flex: 1;
    min-width: 45%;
}

.filter-list i {
    font-size: 160%;
    margin-inline: 0.3rem;
    vertical-align: middle;
}

.result-infos {
    margin-top: 2.8rem;
}

/*==============================
    LODGING SECTION
==============================*/

.lodging-main-container,
.lodging-popular-container {
    padding: 1.4rem 5% 2.1rem;
}

.lodging-section {
    margin-top: 0;
}

/*==============================
    LODGING SECTION
    |__ MAIN
==============================*/

.lodging-main-container {
    background-color: white;
}

/*==============================
    LODGING SECTION
    |__ POPULAR
==============================*/

.lodging-popular-container {
    order: -1;
    margin-top: 0;
    padding: 1.9rem 4.9% 2.9rem;       
}


.lodging-popular-container > div {
    flex-direction: column;
    gap: 1.2rem;
}

.lodging-cards > a {
    flex: 100%;
}

/*==============================
    ACTIVITIES SECTION
==============================*/

.activities-section > div {
    height: 100%;
    flex-direction: column;
    gap: 2rem
}

.activity {
    height: 12.5rem;
}

.activities-section > h2 {
    margin-block: 2rem 2.4rem;
}

/*==============================
    FOOTER SECTION
==============================*/

footer {
    flex-direction: column;
}