* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label {
    font-size: 0;
}

.card {
    width: 21.875rem;
    display: flex;
    flex-direction: column;
}

.card__photo {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 0.315rem;
    cursor: pointer;
}

.card__title {
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    height: 3.125rem;
    font-size: 1.5rem;
}

.card__likes-container {
    display: flex;
    align-items: center;
    gap: 0.315rem;
}

.card__likes__heart-icon {
    width: 1.315rem;
    height: 1.5rem;
    cursor: pointer;
}

input[type=checkbox]:not(:checked) + .card__likes__heart-icon {
    opacity: 0.4;
}

input[type=checkbox]:checked + .card__likes__heart-icon {
    opacity: 1;
}
