@use "sass:math";

main {
    opacity: 0;
    $animation-name: main__animate-visiblity;
    animation: $animation_name 600ms 5400ms forwards;
    @include animate-visiblity($animation-name, 1);
}

.loader {
    @include center-horizontally-and-vertically;
    font-family: $font-family__brand;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $color__gray-light;
    z-index: 10;
    overflow: hidden;

    // Fade out animation
    $animation-name: loader__fade-out;
    animation: $animation-name 600ms 5s forwards;
    @include animate-visiblity($animation-name, 0, -10);

    &__container {
        display: flex;
        margin-top: -140px;
        p {
            color: $color__purple-light;
            @for $i from 0 through 7 {
                &:nth-child(#{$i + 1}) {
                    animation: bouncing 500ms 100ms * $i alternate infinite cubic-bezier(.6, .05, .15, .95);
                }
            }
        }
    }

}

@keyframes bouncing {
    0% {
        transform: translate(0, 70px) scale(1.2, 0.834);
        text-shadow: 0 0 0 rgba(0, 0, 0, 1);
    }

    100% {
        transform: translate(0, 0) scale(0.834, 1.2);
        color: $color__featured;
        text-shadow: 0 52px 0 rgba(0, 0, 0, .5), 0 -3px 0 $color__purple;
    }
}