@include media-query(tablet) {

    /*==============================
        HEADER
    ==============================*/
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        &__location {
            padding-inline: 0;
            background: none;
            width: fit-content;

            &::before {
                content: none;
            }
        }
    }

    /*==============================
        MAIN
        |_ PICKUP LINES SECTION
    ==============================*/

    .pickup-lines {
        @include center-horizontally-and-vertically;
        background-color: $color__gray--light;
        padding-block: 60px;
        text-align: center;

        &__title {
            font-size: 34px;
        }

        &__subtitle {
            margin-block: 21px 38px;
        }

        .button {
            min-height: 52px;
        }
    }

    /*==============================
        MAIN
        |_ OPERATION SECTION
    ==============================*/

    .operation {

        padding-block: 48px 64px;

        &__title {
            margin-bottom: 48px;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: unset;
        }

        &__step {
            flex-basis: 31%;
            justify-content: center;
            padding-block: 42px;
            border-radius: 18px;
            margin-left: 0;
            display: flex;
            align-items: center;

            p {
                margin-left: 0;
            }

            i {
                font-size: 22px;
                padding-right: 5px;
            }

            &::before {
                $size: 36px;
                width: $size;
                height: $size;
                font-size: $size * 0.5;
                left: calc(50% - 0.5 * $size);
                top: -$size * 0.5;
                animation-name: slide-in-vertical;
            }
        }
    }

    /*==============================
        MAIN
        |_ RESTAURANT LIST SECTION
    ==============================*/

    .restaurants {

        &__title {
            margin-bottom: 28px;
        }

        &__container {
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }
    }

    .restaurant-card {
        &__footer {
            padding: 16px 24px;
            &__favorite {
                @include heart-btn(26px, 4px);
            }
        }
    }
}